@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0
  }
  h3 {
    @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight
  }
  label {
    @apply text-xl
  }
  p {
    @apply text-2xl py-2
  }
  ul {
    @apply list-disc ml-[20px] text-xl
  }
  p > a {
    @apply text-blue-400
  }
  article > div > h4 {
    @apply text-2xl
  }

  .hover-enlarge-sm {
    @apply transition duration-300 hover:scale-105 focus:outline-none focus:scale-105 hover:cursor-pointer;
  }
  .hover-enlarge-lg {
    @apply transition duration-300 hover:scale-110 focus:outline-none focus:scale-110 hover:cursor-pointer;
  }
  .hover-enlarge-xl {
    @apply transition duration-300 hover:scale-150 focus:outline-none focus:scale-150 hover:cursor-pointer;
  }

  .hover-shadow-sm {
    @apply transition shadow-[2px_4px_0px_rgb(0,0,0)] hover:shadow-[0px_0px_0px_rgb(0,0,0)] ease-out hover:translate-y-1 hover:translate-x-1 transition-all
  }
  .hover-shadow-lg {
    @apply transition shadow-[2px_6px_0px_rgb(0,0,0)] hover:shadow-[0px_0px_0px_rgb(0,0,0)] ease-out hover:translate-y-1 hover:translate-x-1 transition-all
  }
  .hover-shadow-xl {
    @apply transition shadow-[4px_8px_0px_rgb(0,0,0)] hover:shadow-[0px_0px_0px_rgb(0,0,0)]  ease-out hover:translate-y-1 hover:translate-x-1 transition-all
  }
}